<ul>
<% if @mirror.users.empty? %>
    <li> <%= link_to 'Add User', new_user_mirror_path, remote: true %> </li>
    <div class='new-form'></div>
<% else %>
    <% @mirror.users.each do |user| %>
      <li><%= user.name %></li>
      <li> <span id ="test"></span> <%= link_to 'Add User', new_user_mirror_path, remote: true, id: "new-form" %> </li>
    <%end%>
    <div class='new-form'></div >
<% end %>
</ul>
