
  <ul>
    <% @mirror.users do |user| %>
      <li><%= user.name %></li>
      <li> <%= link_to 'Add User', new_user_mirror_path, remote: true %> </li>
    <%end%>
    <li> <%= link_to 'Add User', new_user_mirror_path, remote: true %> </li>
    <div class='new-form'></div>
  </ul>
