<html>
<head>
	<title>Mirror</title>
</head>
<body id='mirror'>

	<div id='mirror'>
	Home Page/ Mirror Page
	<!-- Displays The Image for the weather -->
	<img src=<%= @image %>>
	<br>
	<!-- Displays The Temp for the weather -->
	<%= @temp %> degrees
	<br>
	<!-- Displays the desc -->
	<%= @weatherdesc %> today.
	</div>

</body>
</html>