<html>
<head>
	<title>Mirror</title>
	<% content_for(:head) do %>
  <%= javascript_include_tag 'weather.js' %>
<% end %>
</head>
<body id='mirror'>

	<div id='mirror'>
	Home Page/ Mirror Page
	<!-- Displays The Image for the weather -->
	<img src=<%= @image %>>
	<br>
	<!-- Displays The Temp for the weather -->
	<%= @temp %> degrees
	<br>
	<!-- Displays the desc -->
	<%= @weatherdesc %> today.
	</div>
	<div id="clockbox">
		
	</div>

</body>
</html>