<%= render 'partials/header' %>
<h1> Profile Page </h1>

Hello <%= @user.name.capitalize %>.

<%= link_to 'New Mirror', new_mirror_path, class: 'new-mirror', remote: true %>
<div class='new-mirrors'></div>

<%= link_to "Edit", edit_user_path(@user) %>
