<%= render 'partials/header' %>
<h1> Profile Page </h1>

Hello <%= @user.name.capitalize %>.

<div class='new-mirrors'>
  <%= link_to 'New Mirror', new_mirror_path, class: 'new-mirror', remote: true %>
</div>

<%= link_to "Edit", edit_user_path(@user) %>
