#mirror {
	color: white;
	background-color: black;
	font-style: sans-serif;
}

#header {
	border-style: solid;
	border-width: 3px;
	position: absolute;
	width: 100%;
	height: 33%;
	text-align: center;
	font-size: 90px;
}

#weather-icon {
	border-style: solid;
	border-width: 3px;
	position: absolute;
	height: 33%;
	width: 33%;
	margin-top: 33vh;
	margin-left: 33%;
	font-size: 30px;
	text-align: center;
}

#weather-icon img {
	display: block;
	margin: auto;
	height: 60%;
	width: 60%;
}

#mirror-temp {
	margin-top: 33vh;
	border-style: solid;
	border-width: 5px;
	width: 33%;
	height: 33%;
	position: absolute;
}

#mirror-temp p#one {
  font-size: 23vh;
}

#weather-desc {
	position: inline-block;
}

#clockbox {
	width: 33%;
	height: 33%;
	border-style: solid;
	border-width: 3px;
	margin-top: 33vh;
	margin-left: 66%;
	position: absolute;
  font-size: 15vh;
  line-height: 15vh;
}

#ajax-container {
	font-size: 13vh;
	border-style: solid;
	border-width: 3px;
	position :absolute;
	margin-top:66vh;
	width: 100%;
	height: 33%;
	text-align: center;
}

#ajax-container p {
	text-align: center;
	line-height: 100px;
}




